


<div class="editForm">
    <a href="/products" class="voltar">Voltar</a>

    <h1>{{product.name}}</h1>

   <div class="editProduct">
        <img src="{{product.image}}" alt="{{product.name}}" class="image">
        <p>R$ {{product.price}}</p>
        <p class="description">{{product.description}}</p>
   </div>

    <form action="/products/remove/{{product._id}}" method="post">
        <input type="submit" value="Excluir" class="btn">
    </form>




</div>
    

